<h2>Lista de productos</h2>
<button id="logout">Cerrar Sesión</button>

{{#if status}}
  <div>
    <p>{{status}}</p>
    <p>"{{payload}}"</p>
  </div>
{{/if}}

{{#if totalPages}}
  <p>Total de páginas: {{totalPages}}</p>
{{/if}}

<ul>
  {{#each Products}}
    <li>
      <h3>{{this.title}}</h3>
      <p>Precio: {{this.price}}</p>
      <p>{{this.description}}</p>
      <p>Categoría: {{this.category}}</p>
      <p>Stock: {{this.stock}}</p>

      <button onclick="addToCart('{{this.cid}}')">
        Agregar al Carrito
      </button>
    </li>
  {{/each}}
</ul>

<div>
  {{#if prevLink}}
    <a href="{{prevLink}}"><button type="button">Página anterior</button></a>
  {{/if}}

  {{#if nextLink}}
    <a href="{{nextLink}}"><button type="button">Página siguiente</button></a>
  {{/if}}
</div>

{{log "Valor de _id" cart._id}}

<p>Valor de _id: {{cart._id}}</p>
<a href="/CartDB/{{cart._id}}">Ver Detalles del Carrito</a>

<script src="/js/cart.js"></script>
<script src="/js/profile.js"></script>